@import 'bourbon/bourbon'

$open-sans: 'Open Sans',  sans-serif
$lucida: 'Lucida Sans',  sans-serif
$bg-color: #f8f8f8
$primary-link-color: #d82310
$primary-text-color: #737373
$link-primary-color: #e52b17
$link-active: #b51c0c
$white: #fff
$black: #000
$off-white: #f9f9f9
$off-white-2: #ededed
$off-white-3: #f2f2f2
$off-white-4: #ebeaea
$off-white-5: #ddd
$off-white-6: #eee
$gray-1: #707070
$gray-2: #ada8a8
$gray-3: #9b9b9b
$gray-4: #868686
$brown-1: #2b2626
$brown-2: #2d2828
$brown-3: #383131
$brown-4: #272222
$carot-1: #d00

::selection
  background: $primary-link-color
  color: $white


// Default tags styling


h1,
h2,
h3,
h4,
h5,
h6
  color: #414141
  font-weight: bold


html,
body
  font-size: 13px
  height: 100%
  margin: 0
  padding: 0

img
  display: inline-block
  height: auto
  max-width: 100%
  vertical-align: middle

body
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  background: $bg-color
  font-family: $open-sans
  text-rendering: auto
  text-shadow: rgba(0,0,0,.01) 0 0 1px

a
  color: $link-primary-color

  &:hover,
  &:focus,
  &:active
    color: $link-active
    cursor: pointer
    text-decoration: none


*
  &:hover,
  &:focus,
  &:active
    outline: 0

// COMMON

.btn
  background-color: $link-primary-color
  border: 4px solid $link-primary-color
  color: $white
  font-weight: bolder
  @include border-radius(5px)

  &:focus,
  &:hover,
  &.focus
    color: $off-white

.rect
  background: #2d2828
  height: 60vh
  position: absolute
  width: 100%
  z-index: -1

.rect2
  @extend .rect
  height: 75vh

.block
  display: block

.bold
  font-weight: bolder

.light
  font-weight: lighter

.no-pad
  padding: 0

.pd-10
  padding-bottom: 10px
  padding-top: 10px

.lh-30
  line-height: 30px

.lh-50
  line-height: 50px


.pdt-10
  padding-top: 10px

.pdt-20
  padding-top: 20px

.pdt-50
  padding-top: 50px


.pd-20
  padding-bottom: 20px
  padding-top: 20px

.pd-50
  padding-bottom: 50px
  padding-top: 50px

.no-margin
  margin: 0

.mr-10
  clear: both
  margin: 10px 0

.mr-20
  clear: both
  margin: 20px 0

.mr-50
  clear: both
  margin: 50px 0

.line
  background: $off-white-2
  height: 1px
  left: 0
  margin-bottom: 31px
  margin-top: -31px
  width: 100%
  z-index: -1

.line-behind
  background: $white
  padding: 10px 20px

.fac-nav
  color: $white

.map-display
  background: #2d2828
  width: 100%

.pagination li a
  background: $off-white-3
  border: 0
  border-radius: 0 !important
  color: $gray-1
  margin: 2px
  padding: 10px 16px

  &:hover,
  &:focus
    background: $carot-1
    color: $white

.pagination .active a
  background-color: $brown-1
  color: $white

.fa-style
  padding: 5px

.fa-desktop,
.fa-eyedropper
  font-size: 22px
  margin-top: 2px

// NAVBAR

.navbar
  background: url('../img/header-pattern.png')
  background-color: $brown-2
  border: 0
  border-radius: 0
  box-shadow: none
  margin-bottom: 0
  padding-top: 10px

.nav
  height: 65px

.nav li
  border-bottom: 8px solid $off-white-4
  color: $white
  display: flex
  flex-direction: column
  height: 100%
  justify-content: center

.logo
  margin-top: -5px
  width: 200px

.custom-svg
  width: 35px

.nav li a
  color: $gray-2 !important
  font-size: 12px
  font-weight: 700
  text-shadow: none

.nav li:hover:after,
.nav li:focus:after,
.nav li:active:after
  content: ''
  position: absolute
  top: 68%
  left: 40%
  margin: 10px auto
  width: 0
  height: 0
  border-bottom: solid 8px $primary-link-color
  border-left: solid 8px transparent
  border-right: solid 8px transparent

.nav li:hover a, .nav li:focus a, .nav li:active a
  color: $primary-link-color !important

.nav li:hover, .nav li:focus, .nav li:active
  border-bottom: 8px solid $primary-link-color



.navbar-default .navbar-toggle
  border-color: transparent

  &:focus,
  &:hover
    background-color: transparent

.navbar-default .navbar-toggle .icon-bar
  background-color: $white


// Social

.social
  background: url("../img/social-pattern.png") white
  padding: 10px 0

.social-icons i
  font-size: 20px
  padding: 0 5px

  &:hover
    color: $primary-link-color

.social-icons
  text-align: right


// CAROUSEL

.home-slider
  background-color: $brown-2
  color: $white
  padding: 30px 0

.carousel-control
  background: transparent
  background-image: none
  color: $black
  opacity: 1

.home-slider .item
  color: $off-white-5
  font-family: $open-sans
  font-size: 1.5em
  height: 100%
  padding: 30px
  text-align: center

.home-slider .item h1
  font-weight: bold

.home-slider .item p
  padding: 10px 0

.show-themes,
.buy-now
  background-color: $link-primary-color
  border: 4px solid $link-primary-color
  @include border-radius(5px)

.btn-custom,
.btn-send

  &:hover
    background: $link-active
    border-color: $link-active
    color: $white



.btn-contact
  background: #221e1e
  border-color: #221e1e

.btn-footer
  background: linear-gradient($brown-3,$brown-4)
  border: 0
  border-top: 1px solid
  color: $gray-3
  font-weight: bolder
  padding: 12px

  &:hover
    background: linear-gradient($brown-4,$brown-3)
    border-color: transparent

.btn-send
  padding: 6px 25px
  margin-top: -3px
  font-weight: bold

.btn-send,
.btn-contact,
.pagination li a

  &:hover
    box-shadow: 0 2px 4px 0px $gray-4


.our-products
  padding: 3px 6px

.equal-space-projects
  clear: both
  padding: 38px 0

//.show-themes:hover, .buy-now:hover
  //border-color: rgba(0, 0, 0, 0.8)

.promo-buttons
  padding: 10px 0

.home-1-2-content
  float: left
  width: 80%

.icon
  width: 50px

.left
  float: left

.right
  float: right

.home-slider .item .col-lg-6
  display: flex
  flex-direction: column
  justify-content: center
  height: 500px

.carousel-indicators .active
  border-color: $black
  background-color: $black

.carousel-indicators li
  background-color: #c8c8c8

.slider-wrapper
  padding: 0

.heading
  font-family: $open-sans
  font-weight: 800
  font-size: 17px
  margin: 0
  padding: 20px 0

.base-heading
  @extend .heading
  font-size: 20px
  color: #b1b1b1

.first-word
  font-weight: 100
  padding: 0 5px

.break
  display: block

.center
  text-align: center

.home-1 .icon
  float: left

.content
  line-height: 24px
  font-family: $lucida
  float: right
  text-align: justify

.home-1 .content
  width: 75%

.home-2 
  @include clearfix

.home-2 .head
  font-family: $open-sans
  font-weight: bolder
  margin-right: 10px
  font-size: 16px
  float: left
  line-height: 28px

.head i
  font-size: 1.5em
  padding-right: 10px

.head img
  padding-right: 10px

.h-2-i
  color: $link-primary-color

// COMMENTS

.comment-title
  margin: 0
  padding: 0 10px

.comment-date
  color: $gray-2
  font-style: italic

.comment-content
  padding-left: 110px
  padding-top: 10px 

.comments a
  color: #494949

.comment-reply span
  padding-right: 10px

.comment-reply span>i
  padding: 0 5px

.comment-level-1,
.comment-level-2,
  padding-top: 20px
  margin-left: 120px 

// HOME PAGE

.h-2
  width: 100%

.line-behind
  &:before
    border-top: 2px solid #dfdfdf
    margin: 0 auto
    position: absolute
    top: 15px
    left: 0
    right: 0
    bottom: 0
    width: 95%
    z-index: -1

.main-content
  background: $white
  box-shadow: 0 4px 4px 0 #cccccc
  padding-bottom: 30px
  margin-bottom: 10px


.our-clients-wrapper
  padding: 0 0 50px 0
  border-bottom: 1px solid #dcdcdc


.inp-contact
  background: #efefef
  border: 1px solid #d4d4d4
  width: 250px
  padding: 10px 15px
  border-radius: 5px

::-webkit-input-placeholder
  font-weight: 100
  font-style: italic
  color: #464444

.inp-contact:hover, .inp-contact:focus, .inp-contact:active
  outline: 0

.contact-form
  text-align: center
  padding: 30px 0
  margin-top: 50px
  border-top: 1px solid #ececec
   

.contact-form .base-heading
  padding: 10px 0

.tweet-logo
  padding-right: 5px
  color: grey

.tweet-item
  display: flex
  flex-direction: row
  justify-content: center

// FOOTER

.footer
  background: url('../img/footer-pattern.png')
  background-color: #292424
  color: $gray-3

.company   p
  float: right

.footer .f-h
  color: $white
  font-size: 16px
  font-weight: bolder

.f-x
  color: $gray-3
  font-weight: bolder

.f-t
  padding: 10px 0

.footer .f-c
  font-weight: normal
  line-height: 26px
  color: $gray-3
  text-decoration: none

.footer .f-a
  color: $gray-3
  text-decoration: none
  font-size: 15px
  line-height: 40px
  padding-bottom: 10px
  border-bottom: 0.3px solid #312f2f

.footer .f-a:hover
  color: $link-primary-color

.f-contact input, .f-contact textarea
  width: 100%
  margin: 5px 0
  background: #211e1e
  border: none
  border-radius: 5px
  padding: 10px 20px
  resize: none
  box-shadow: inset 0px 8px 2px -4px rgba(0,  0,  0,  0.15)
  -webkit-box-shadow: inset 0px 8px 2px -4px rgba(0,  0,  0,  0.15)

.f-contact textarea
  height: 125px

.f-ico
  padding-right: 5px

.footer .f-t, .f-t
  font-style: italic
  font-weight: 100

.f-t
  display: block

.footer .f-b-e,.f-b-e
  clear: both
  padding: 10px 0
  
.footer .f-i, .f-i
  float: left
  padding-right: 5px

.bottom-line
  background: #292424
  color: $gray-3
  line-height: 36px


// LAYOUT 2 PAGE

.ly-1
  font-size: 24px

.ly-2
  display: block
  padding: 0

.ly-3 .owl-item
  padding: 15px

.our-projects h2
  color: $primary-link-color
  font-size: 16px
  text-align: left

.our-projects p
  text-align: left

// PORTFOLIO 

.portfolio-1 .mix,
.portfolio-2 .mix
  display: none

.portfolio-2
  text-align: center

// POST PAGE 

.single-post
  padding: 15px

.bs-single h1
  font-size: 30px
  font-weight: bold
  color: #494949

.post-breadcrumb a:after
  content: "\f105"
  padding: 0 10px
  color: grey
  display: inline-block
  font: normal normal normal 14px/1 FontAwesome
  font-size: inherit
  text-rendering: auto
  -webkit-font-smoothing: antialiased

.post-breadcrumb a:last-child:after
  display: none  

.bs-single .col-lg-12
  padding: 0

// BLOG PAGE

.tweet-widget
  padding: 10px 0

.tweet-widget p
  width: 90%
  padding-left: 10px
  float: left

.b-entry
  line-height: 24px

.b-entry h1
  font-weight: bolder

.bs-entry
  line-height: 38px

.b-1
  display: flex
  flex-direction: row
  justify-content: space-between
  font-weight: bolder
  border-bottom: 2px solid $link-primary-color 

.b-1 li
  padding: 10px 19px
  background: #f9f9f9

.b-1 li.active
  background: #f4f4f4



// BLOG LAYOUT 2

.b2-entry span
  color: #b4b4b4

.b2-entry p
  color: #737373

.b2-entry .col-sm-3
  padding: 10px 0

.b2-entry h2
  font-size: 1.5em

// FILTER PROJECTS

.filter-buttons
  display: block

.filter-buttons a
  display: inline-block
  padding: 0 20px
  margin-bottom: 20px


// CONTACT PAGE

.cp-2
  color: #414141

.cp-3 span
  line-height: 28px

.cp-1 input,
.cp-1 textarea
  width: 100%
  border: 1px solid #e9e9e9
  border-radius: 5px
  background: $bg-color
  padding: 10px

.cp-1 textarea
  resize: none
  height: 150px

.post-single-comment
  background: #f8f8f8
  border: 1px solid #e0e0e0
  margin: 0
  border-radius: 5px
  padding: 20px

.post-single-comment input,
.post-single-comment textarea
  background: white


@media (max-width:767px)
  .cp-4
    margin-top: 40px

  

// TEAM PAGE
.cs-1,
.cs-2
  padding: 15px
  width: 100%
  color: $white
  border: 0
  border-radius: 5px

.cs-1
  background: linear-gradient(#63863e,#79a14d)

  &:hover
    background: linear-gradient(#79a14d,#63863e)

.cs-2
  background: linear-gradient(#fe7543,#f15a23)

  &:hover
    background: linear-gradient(#f15a23,#fe7543)

.cs-3
  padding: 20px 0
  display: flex
  flex-direction: row

.cs-4
  width: 25%
  font-size: 13px
  text-align: center

.cs-4:after
  content: "/"
  color: #b1b1b1

.cs-3 span:last-child:after
  content: ""

.cs-6
  font-size: 26px

.cs-7
  font-size: 20px

.team-caption
  position: absolute
  width: calc(100% - 30px)
  background: rgba(255,255,255,0.7)
  margin-top: -63px
  color: grey

.member-thumb:hover .team-caption
  background: #494949
  color: white

.member-thumb:hover img
  background: rgba(0,0,0,0.3)


@media (max-width:767px)
  .cs-6,
  .cs-7
    text-align: center

  .cs-1,
  .cs-2
    margin: 10px 0

  .cs-8,
  .member-thumb img
    width: 100%  


// OWL CAROUSEL

div[class^='owl-caro']
  max-width: 100%
  overflow: visible

.owl-buttons .owl-prev,
.owl-buttons .owl-next
  position: absolute
  top: 50%

.owl-buttons .owl-prev
  left: 0
 
.owl-buttons .owl-next
  right: 0

.home-slider .owl-buttons .owl-prev,
.home-slider .owl-buttons .owl-next
  color: $black
  font-size: 26px

.owl-item .item
  text-align: center

.our-projects .owl-buttons .owl-prev,
.our-projects .owl-buttons .owl-next,
.blog-entry-slider .owl-buttons .owl-prev,
.blog-entry-slider .owl-buttons .owl-next
  background: $off-white-6
  color: $white
  font-size: 18px
  padding: 0px 6px
  top: -10px

  &:focus,
  &:hover,
  &:active
    background: $off-white-5

.blog-single-slider .owl-buttons .owl-prev,
.blog-single-slider .owl-buttons .owl-next,
.blog-entry-slider .owl-buttons .owl-prev,
.blog-entry-slider .owl-buttons .owl-next
  top: auto
  bottom: 35px
  padding: 5px 10px
  background: #e4e4e4
  color: $white

.blog-entry-slider .owl-buttons .owl-prev,
.blog-entry-slider .owl-buttons .owl-next
  top: 45%
  bottom: auto

.blog-entry-slider .owl-prev
  left: 10px

.blog-entry-slider .owl-next
  right: 10px

.blog-single-slider .owl-prev
  left: auto
  right: 45px

.blog-single-slider .owl-next
  right: 10px




.our-projects .owl-buttons .owl-prev
  left: auto
  right: 30px

.tweet-slider .owl-buttons .owl-prev,
.tweet-slider .owl-buttons .owl-next
  top: 30%
  font-size: 14px
  padding: 0px 6px
  color: #d2d2d2

  &:focus,
  &:hover,
  &:active
    color: $black


.tweet-slider .owl-buttons .owl-prev
  left: auto
  right: 30px

@media (min-width:1320px)
  .home-slider .owl-buttons .owl-prev
    margin-left: -80px

  .home-slider .owl-buttons .owl-next
    margin-right: -80px  


@media (max-width:480px)
  .carousel-inner .item img
    width: 80%
  
  .single-post
    padding: 0

  .portfolio-1 .col-md-3,
  .portfolio-2 .col-xs-6
    width: 100%
    padding: 20px 15px

  .portfolio-1 p,
  .portfolio-2 p,
  .bs-single p
    text-align: justify

  .filter-buttons a
    padding: 0 10px
    text-align: justify 

  .blog-entry-slider .owl-buttons .owl-prev, .blog-entry-slider .owl-buttons .owl-next
    top: 40%
  
  .b-entry
    padding: 20px 10px

  .b-entry h1
    font-size: 22px
    margin: 0

  .b-entry .col-lg-9
    text-align: justify
  
  .b-entry .col-lg-9,
  .b-entry .col-lg-3
    padding: 0
  
  .b2-entry
    padding: 25px 0
  
  .comment-reply
    position: absolute
    margin-top: -25px
    right: 10px

  // .bs-entry
  //   padding: 15px

  .b2-entry h2
    padding: 10px 0


  .btn-contact
    width: 100%

  .social .col-sm-6
    display: block
    margin: 5px 0
    width: 100%
    text-align: center

  .hp-1
    width: 100%
    margin: 10px 0  
  

  .bottom-line,
  .company p
    text-align: center
    width: 100%

  .social .container
    padding: 0
  
  .social .container .col-lg-3
    display: block
    width: 100%
    text-align: center
    margin: 5px 0

  .tweet-slider .owl-buttons   .owl-prev, .tweet-slider .owl-buttons   .owl-next
    top: 40%
  
  .btn-send
    width: 80%

  .home-1
    text-align: center

  .ly-2
    display: inline-block


@media (max-width:1200px)
  .b-1
    justify-content: flex-start

@media (max-width:767px)
  .home-slider .item .col-lg-6
    height: auto

  .b2-entry img
    margin: 0 auto
    padding-bottom: 30px

  .b2-entry p
    text-align: justify

  .comment-level-1,
  .comment-level-2
    margin-left: 10px

  .nav li:hover:after,
  .nav li:focus:after,
  .nav li:active:after
    display: none

  .nav 
    height: auto

  .navbar-collapse
    background-color: $white

  .home-1
    clear: both
    padding-top: 20px
    padding-bottom: 20px
  
  .home-1 .heading
    text-align: center

  .nav li
    border-color: $white

  .nav li a
    color: #2f2f2f
  
  .contact-form .col-lg-4
    padding: 50px 0 0 0

  .logo
    margin-top: 0px
    margin-bottom: 5px
  
  .tweet-slider .owl-buttons   .owl-prev
    right: auto
  
  .contact-form
    text-align: center

  .inp-contact
    width: 80%
    display: block
    margin: 10px auto

  .btn-send
    display: block
    margin: 10px auto

  .equal-space-projects
    padding: 20px 0

@media (min-width:768px)
  
  .main-content
    margin-top: 15px

@media (min-width:768px) and (max-width:991px)
  .background-nav
    padding: 0

@media (min-width:992px) and (max-width:1200px)
  .footer .col-md-3
    padding: 0

@media (max-width:360px)
  .comment-level-1,
  .comment-level-2
    margin-left: 5px

  .comment-reply span
    padding: 0